{% extends 'front/base.html' %}
{% block content  %}
{% load static %}

    <!-- ##### Catagory Featured Area Start ##### -->
    <div class="catagory-featured-post bg-overlay clearfix" style="background-image: url(' {% static 'front/img/bg-img/23.jpg' %} ')">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-lg-9">
                    <!-- Post Content -->
                    <div class="post-content">
                        <p class="tag"><span>{{region_item.name}}</span></p>
                        <a href="#" class="post-title">Xududlar bo'yicha <br>xabarlar</a>
                        <span class="post-date">
                            <p id="date-now"></p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Catagory Featured Area End ##### -->
    <!-- ##### Top News Area Start ##### -->
    <div class="top-news-area section-padding-100">
        <div class="container">
            <div class="row">
                {% for p in posts %}
                <!-- Single News Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-blog-post style-2 mb-5">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="{% url 'main:post_detail' p.id %}"><img src="{{p.banner.url}}" alt=""></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <span class="post-date">{{p.date}}</span>
                            <a href="{% url 'main:post_detail' p.id %}" class="post-title">{{p.title}}</a>
                            <a href="#" class="post-author">{{p.author}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- <div class="col-12">
                    <div class="load-more-button text-center">
                        <a href="#" class="btn newsbox-btn">Load More</a>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    <!-- ##### Top News Area End ##### -->

    <!-- ##### Add Area Start ##### -->
    <div class="big-add-area mb-100">
        <div class="container-fluid">
            <a href="#"><img src="{% static 'front/img/bg-img/add2.png' %}" alt=""></a>
        </div>
    </div>
    <!-- ##### Add Area End ##### -->

{% endblock %}